In [8]:


for i in range(4):
  for j in range(4):
      print("#",end=" ")
  print()

# # # #
# # # #
# # # #
# # # #

In [9]:
for i in range(5):
  for j in range(5-i):
    print("*",end = ' ')
  print()

* * * * *
* * * *
* * *
* *
*

In [17]:
for i in range(5):
  for j in range(i+1):
    print("*",end = ' ')
  print()

*
* *
* * *
* * * *
* * * * *

In [20]:
rows = 6
for i in range(rows):
  for j in range(i):
    print(i,end = ' ')
  print()

1
2 2
3 3 3
4 4 4 4
5 5 5 5 5

In [21]:
rows = 6
for i in range(1,rows):
  for j in range(1,i+1):
    print(j,end = ' ')
  print()

1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

In [28]:
rows = 5
for i in range(rows,0,-1):
  for j in range(0,i):
    print(rows,end = ' ')
  print()

5 5 5 5 5
5 5 5 5
5 5 5
5 5
5

In [29]:
row = 5
i = 1
while i <= row:
  j = 1
  while j <= i:
    print((i * 2 - 1),end = ' ')
    j = j + 1
  i = i + 1
  print(' ')

1
3 3
5 5 5
7 7 7 7
9 9 9 9 9

In [30]:
rows = 5
for i in range(rows,0,-1):
  num = i
  for i in range(0,i):
    print(num,end = ' ')
  print()

5 5 5 5 5
4 4 4 4
3 3 3
2 2
1

In [31]:
rows = 6
for i in range(1,rows):
  for j in range(i,0,-1):
    print(j,end = ' ')
  print()

1
2 1
3 2 1
4 3 2 1
5 4 3 2 1

In [32]:
start = 1
stop = 2
current_num = stop
for row in range(2, 6):
    for col in range(start, stop):
        current_num -= 1
        print(current_num, end=' ')
    print("")
    start = stop
    stop += row
    current_num = stop

1
3 2
6 5 4
10 9 8 7

In [33]:
rows = 6
for i in range(1, rows):
    num = 1
    for j in range(rows, 0, -1):
        if j > i:
            print(" ", end=' ')
        else:
            print(num, end=' ')
            num += 1
    print("")

          1
        1 2
      1 2 3
    1 2 3 4
  1 2 3 4 5

In [34]:
rows = 5
for i in range(1, rows + 1):
    for j in range(1, rows + 1):
        if j <= i:
            print(i, end=' ')
        else:
            print(j, end=' ')
    print()

1 2 3 4 5
2 2 3 4 5
3 3 3 4 5
4 4 4 4 5
5 5 5 5 5

In [35]:
# number of rows
rows = 5
for i in range(0, rows):
    # nested loop for each column
    for j in range(0, i + 1):
        # print star
        print("*", end=' ')
    # new line after each row
    print("\r")

*
* *
* * *
* * * *
* * * * *

In [37]:
rows = 5
for j in range(1, rows+1):
    print("* " * j)

*
* *
* * *
* * * *
* * * * *

In [38]:
# number of rows
rows = 5
k = 2 * rows - 2
for i in range(0, rows):
    # process each column
    for j in range(0, k):
        # print space in pyramid
        print(end=" ")
    k = k - 2
    for j in range(0, i + 1):
        # display star
        print("* ", end="")
    print("")

        *
      * *
    * * *
  * * * *
* * * * *

In [39]:
rows = 5
k = 2 * rows - 2
for i in range(rows, -1, -1):
    for j in range(k, 0, -1):
        print(end=" ")
    k = k + 1
    for j in range(0, i + 1):
        print("*", end=" ")
    print("")

        * * * * * *
         * * * * *
          * * * *
           * * *
            * *
             *

In [40]:
rows = 5
i = rows
while i >= 1:
    j = rows
    while j > i:
        # display space
        print(' ', end=' ')
        j -= 1
    k = 1
    while k <= i:
        print('*', end=' ')
        k += 1
    print()
    i -= 1

* * * * *
  * * * *
    * * *
      * *
        *

In [41]:
print("Print equilateral triangle Pyramid using asterisk symbol ")
# printing full Triangle pyramid using stars
size = 7
m = (2 * size) - 2
for i in range(0, size):
    for j in range(0, m):
        print(end=" ")
    # decrementing m after each loop
    m = m - 1
    for j in range(0, i + 1):
        print("* ", end=' ')
    print(" ")

Print equilateral triangle Pyramid using asterisk symbol
            *
           *  *
          *  *  *
         *  *  *  *
        *  *  *  *  *
       *  *  *  *  *  *
      *  *  *  *  *  *  *

In [42]:
rows = 6
for i in range(0, rows):
    for j in range(0, i + 1):
        print("*", end=' ')
    print(" ")

print(" ")

for i in range(rows + 1, 0, -1):
    for j in range(0, i - 1):
        print("*", end=' ')
    print(" ")

*
* *
* * *
* * * *
* * * * *
* * * * * *

* * * * * *
* * * * *
* * * *
* * *
* *
*

In [43]:
rows = 5
for i in range(0, rows):
    for j in range(0, i + 1):
        print("*", end=' ')
    print("\r")

for i in range(rows, 0, -1):
    for j in range(0, i - 1):
        print("*", end=' ')
    print("\r")

*
* *
* * *
* * * *
* * * * *
* * * *
* * *
* *
*

In [44]:
rows = 14
print("*" * rows, end="\n")
i = (rows // 2) - 1
j = 2
while i != 0:
    while j <= (rows - 2):
        print("*" * i, end="")
        print("_" * j, end="")
        print("*" * i, end="\n")
        i = i - 1
        j = j + 2

**************
******__******
*****____*****
****______****
***________***
**__________**
*____________*

In [45]:
# ASCII number of 'A'
ascii_number = 65
rows = 7
for i in range(0, rows):
    for j in range(0, i + 1):
        character = chr(ascii_number)
        print(character, end=' ')
        ascii_number += 1
    print(" ")

A
B C
D E F
G H I J
K L M N O
P Q R S T U
V W X Y Z [ \

In [46]:
word = "Python"
x = ""
for i in word:
    x += i
    print(x)

P
Py
Pyt
Pyth
Pytho
Python

In [47]:
current_num = 1
stop = 2
rows = 3

for i in range(rows):
    for column in range(1, stop):
        print(current_num, end=' ')
        current_num += 1
    print("")
    stop += 2

1
2 3 4
5 6 7 8 9

In [48]:
current_num = 1
rows = 4
stop = 2
for i in range(rows):
    for column in range(1, stop):
        print(current_num, end=' ')
        current_num += 1
    print("")
    stop += 1

1
2 3
4 5 6
7 8 9 10