In [ ]:
''' 1) Python program to Convert key-values list to flat dictionary
Input: { "num": [1, 2, 3], "name": ['Monica', 'Joey', 'Jane' ] }

Output: {1: 'Monica', 2: 'Joey', 3: 'Jane'}'''

# Using zip() Function

dict1 = { "num": [1, 2, 3], "name": ['Monica', 'Joey', 'Jane' ] }
print("Original Dictionary:",dict1)

f_dict = dict(zip(dict1["num"],dict1["name"]))
print("Flatted Dictionary:",f_dict)

Original Dictionary: {'num': [1, 2, 3], 'name': ['Monica', 'Joey', 'Jane']}
Flatted Dictionary: {1: 'Monica', 2: 'Joey', 3: 'Jane'}

In [ ]:
''' 2) Python program to interchange first and last elements in a list.
Input : [1, 2, 3]
Output : [3, 2, 1]'''

# 1) By using a third variable for swapping the values present at index 0 and index n-1 where n is the size of the list.

def swapFun(l1):
  n = len(l1)
  temp = l1[0]
  l1[0] = l1[n-1]
  l1[n-1] = temp
  return l1

list1 = [1, 2, 3, 4, 5]
print("Before Swapping the list:",list1)
print("After Swapping the list:",swapFun(list1))

Before Swapping the list: [1, 2, 3, 4, 5]
After Swapping the list: [5, 2, 3, 4, 1]

In [ ]:
# 2) By using a built-in pop() function to pop the first element and store it in a variable.

def swapFun(l1):
  first = l1.pop(0)
  last = l1.pop(-1)
  l1.insert(0,last)
  l1.append(first)
  return l1

list1 = [1, 2, 3, 4, 5]
print("Before Swapping the list:",list1)
print("After Swapping the list:",swapFun(list1))

Before Swapping the list: [1, 2, 3, 4, 5]
After Swapping the list: [5, 2, 3, 4, 1]

In [ ]:
# 3) By using the concept of negative indexing to access the last element in the list.

def swapFun(l1):
  l1[0],l1[-1] = l1[-1],l1[0]
  return l1

list1 = [1, 2, 3, 4, 5]
print("Before Swapping the list:",list1)
print("After Swapping the list:",swapFun(list1))

Before Swapping the list: [1, 2, 3, 4, 5]
After Swapping the list: [5, 2, 3, 4, 1]

In [ ]:
''' 3) Python Program To find length of list
Input: [1, 3, 6, 8, 0, 9]

Output: 6'''

# 1) By using the Naive Method.

def listLenght(l1):
  counter = 0
  for i in l1:
    counter = counter+1;
  return counter


list1 = [1, 3, 6, 8, 0, 9]
print("Length of the list:",listLenght(list1))

Length of the list: 6

In [ ]:
# 2) Find Length Using len() Method

def listLenght(l1):
  return len(l1)

list1 = [1, 3, 6, 8, 0, 9]
print("Length of the list:",listLenght(list1))

Length of the list: 6

In [ ]:
''' 4) Python Program to check if element exists in list
Input: [6, 22, 7, 3, 0, 11] element= 0

Output: True'''

# 1) comparing each element

def check(l1,ele):
  for i in l1:
    if i == ele:
      return True
  return False


list1 = [6, 22, 7, 3, 0, 11]
element = 11

print("check if",element ,"is in",list1)
print(check(list1,element))

check if 11 is in [6, 22, 7, 3, 0, 11]
True

In [ ]:
# 2) Find using in operator

def check(l1,ele):
  if ele in l1:
    return True
  else:
    return False
list1 = [6, 22, 7, 3, 0, 11]
element = 11

print("check if",element ,"is in",list1)
print(check(list1,element))

check if 11 is in [6, 22, 7, 3, 0, 11]
True

In [ ]:
# 3) Using count() Function

def check(l1,ele):
  c = l1.count(ele)
  if c>0:
    return True
  else:
    return False
list1 = [6, 22, 7, 3, 0, 11]
element = 11

print("check if",element ,"is in",list1)
print(check(list1,element))

check if 11 is in [6, 22, 7, 3, 0, 11]
True

In [ ]:
''' 5) Python program for Reversing a List
Input: [ 'Study', 'tonight', 1]

Output: [1, 'tonight', 'study']'''

# 1) reverse() method

list1 = [ 'Study', 'tonight', 1]

print("Before the reverse:",list1)
list1.reverse()
print("After the reverse:",list1)

Before the reverse: ['Study', 'tonight', 1]
After the reverse: [1, 'tonight', 'Study']

In [ ]:
# 2) accessing in reverse order

list1 = [ 'Study', 'tonight', 1]

print("Before the reverse:",list1)
print("After the reverse:")
for i in reversed(list1):
  print(i)

Before the reverse: ['Study', 'tonight', 1]
After the reverse:
1
tonight
Study

In [ ]:
# 3) slicing in Python

list1 = [ 'Study', 'tonight', 1]

print("Before the reverse:",list1)
list2 = list1[: :-1]
print("After the reverse:",list2)

Before the reverse: ['Study', 'tonight', 1]
After the reverse: [1, 'tonight', 'Study']

In [ ]:
''' 6) Python program to find sum of elements in list
Input: [6, 8, 12, 5, 3, 10]
Output: 44'''

# 1) By Using Loop

def sumlist(list):
    sum=0
    for i in list:
        sum = sum + i  
    return sum

list = [6, 8, 12, 5, 3, 10]
print(list)
print("sum of list: ",sumlist(list))

[6, 8, 12, 5, 3, 10]
sum of list:  44

In [ ]:
# 2) Using math.fsum() Function
import math
def mul_list(list):
     return math.prod(list)
     

list1 = [3, 2, 5, 4, 8, 9, 10]
print(list1)
print("product: ") 
print(mul_list(list1))
import math
def mul_list(list):
     return int(math.fsum(list))
     

list1 = [3, 2, 5, 4, 8, 9, 10]
print(list1)
print("product: ") 
print(mul_list(list1))

[3, 2, 5, 4, 8, 9, 10]
product:
41

In [ ]:
''' 7) Python Program To Multiply all numbers in the list
Input: list= [5, 3, 2, 7]
Output: 210'''

def mulList(list):
  prod = 1
  for i in list:
    prod = prod * i
  return prod

list= [5, 3, 2, 7]
print(list)
print("product of list: ",mulList(list))

[5, 3, 2, 7]
product of list:  210

In [ ]:
# 2) Using math.prod() Function

import math
def mulList(list):
     return math.prod(list)
     

list1 = [3, 2, 5, 4, 8, 9, 10]
print(list1)
print("product of list: ",mulList(list))

[3, 2, 5, 4, 8, 9, 10]
product of list:  86400

In [ ]:
# 3) Using numpy.prod() Function

import numpy
def mulList(list):
     return numpy.prod(list)
     

list1 = [3, 2, 5, 4, 8, 9, 10]
print(list1)
print("product of list: ",mulList(list))

[3, 2, 5, 4, 8, 9, 10]
product of list:  86400

In [ ]:
''' 8) Python program to find smallest number in a list
Input: [10, 3, 20, 9, 11, 15, 23, 6]

Output: 3'''

# 1) Comparing elements

def smallEle(list1):
  small = list1[0]
  for i in list1:
    if i < small:
      small = i
  return small

list1 = [3, 2, 5, 4, 8, 9, 10,1]
print(list1)
print("smallest element of the list: ",smallEle(list1))

[3, 2, 5, 4, 8, 9, 10, 1]
smallest element of the list:  1

In [4]:
# 2) min() function

def smallEle(list1):
  smallele = min(list1)
  return smallele

list1 = []
n = int(input("enter the size of the list:"))
for i in range(0,n):
  ele = int(input("enter the element in list:"))
  list1.append(ele)

print("smallest ele",list1,"is:")
print(smallEle(list1))

enter the size of the list:5
enter the element in list:45
enter the element in list:32
enter the element in list:6
enter the element in list:23
enter the element in list:7
smallest ele [45, 32, 6, 23, 7] is:
6

In [13]:
# 3) by sorting and printing the smallest number

def smallEle(list1):
  list1.sort()
  return list1[0]

list1 = [3, 2, 5, 4, 8, 9, 10,1]

print("smallest ele",list1,"is:")
print(smallEle(list1))

smallest ele [3, 2, 5, 4, 8, 9, 10, 1] is:
1

In [7]:
''' 9) Python program to find largest number in a list

Input: [10, 3, 20, 9, 11, 15, 23, 6]

Output: 23'''

# 1) Comparing elements

def largeEle(list1):
  large = list1[0]
  for i in list1:
    if i > large:
      large = i
  return large

list1 = [10, 3, 20, 9, 11, 15, 23, 6]
print("Largest element in",list1,"is:")
print(largeEle(list1))

Largest element in [10, 3, 20, 9, 11, 15, 23, 6] is:
23

In [8]:
# 2) max() function

def largeEle(list1):
  large = max(list1)
  return large
  

list1 = [10, 3, 20, 9, 11, 15, 23, 6]
print("Largest element in",list1,"is:")
print(largeEle(list1))

Largest element in [10, 3, 20, 9, 11, 15, 23, 6] is:
23

In [14]:
# 3) by sorting and printing the smallest number

def largeEle(list1):
  list1.sort()
  return list1[-1]

list1 = [ ]
n = int(input("enter the size of list:"))
for i in range(0,n):
  ele = int(input("Enter the element in list:"))
  list1.append(ele)

print("Largest element in",list1,"is:")
print(largeEle(list1))

enter the size of list:5
Enter the element in list:45
Enter the element in list:23
Enter the element in list:67
Enter the element in list:89
Enter the element in list:32
Largest element in [45, 23, 67, 89, 32] is:
89

In [15]:
''' 10) Python program to find second largest number in a list
Input = [10, 3, 20, 9, 11, 15, 23, 6]
Output 20
'''

# 1) Python program to find second largest number in a list

def largeEle(list1):
  large = max(list1)
  list1.remove(large)
  large = max(list1)
  return large
  

list1 = [10, 3, 20, 9, 11, 15, 23, 6]
print("Largest element in",list1,"is:")
print(largeEle(list1))

Largest element in [10, 3, 20, 9, 11, 15, 23, 6] is:
20

In [16]:
# 2) Find Second Largest

def largeEle(list1):
  list1.sort()
  return list1[-2]

list1 = [ ]
n = int(input("enter the size of list:"))
for i in range(0,n):
  ele = int(input("Enter the element in list:"))
  list1.append(ele)

print("Largest element in",list1,"is:")
print(largeEle(list1))

enter the size of list:5
Enter the element in list:45
Enter the element in list:32
Enter the element in list:5
Enter the element in list:78
Enter the element in list:0
Largest element in [45, 32, 5, 78, 0] is:
45

In [21]:
''' 11) Python program to print even numbers in a list
Input: [7, 4, 9, 3, 5, 1, 2, 12]

Output: [4, 2, 12]'''


def Even(list1):
  newList = []
  for i in list1:
    if i % 2 == 0:
      newList.append(i)
  return newList

list1 = [7, 4, 9, 3, 5, 1, 2, 12]
print("Largest element in",list1,"is:")
print(Even(list1))

Largest element in [7, 4, 9, 3, 5, 1, 2, 12] is:
[4, 2, 12]

In [23]:
''' 12) Python program to print odd numbers in a List
Input: [2, 7, 4, 10, 8, 6, 9]

Output: [7, 9]'''

def Odd(list1):
  newList = []
  for i in list1:
    if i % 2 != 0:
      newList.append(i)
  return newList

list1 = []
n = int(input("Enter the size of list:"))
for i in range(0,n):
  ele = int(input("Enter the element in the list:"))
  list1.append(ele)


print("Largest element in",list1,"is:")
print(Odd(list1))

Enter the size of list:5
Enter the element in the list:85
Enter the element in the list:74
Enter the element in the list:12
Enter the element in the list:95
Enter the element in the list:23
Largest element in [85, 74, 12, 95, 23] is:
[85, 95, 23]

In [24]:
''' 13) Python program to print all even numbers in a range
Input: lower limit= 4

upper limit= 10

Output: 4 6 8'''

lower = int(input("Enter the lower range:"))
upper = int(input("Enter the upper range:"))
for i in range(lower,upper):
  if i % 2 == 0:
    print(i,end =" ")

Enter the lower range:1
Enter the upper range:10
2 4 6 8

In [28]:
''' 14) Python program to print positive numbers in a list
Input: [2, 6, -10, -3, 1, -9]

Output: [2, 6, 1]'''

# 1) traversing and checking

list1 = [2, 6, -10, -3, 1, -9]
print("Search the postitive number",list1,"in this list:")
list2 = []
for i in list1:
  if i >= 0:
    list2.append(i)
print(list2)

Search the postitive number [2, 6, -10, -3, 1, -9] in this list:
[2, 6, 1]

In [30]:
# 2) using list comprehension

list1 = [2, 6, -10, -3, 1, -9]
print("Search the postitive number",list1,"in this list:")
positive_num = [i for i in list1 if i >= 0]
print(positive_num)

Search the postitive number [2, 6, -10, -3, 1, -9] in this list:
[2, 6, 1]

In [31]:
# 3) using lambda function

list1 = [2, 6, -10, -3, 1, -9]
print("Search the postitive number",list1,"in this list:")

positive_num = list(filter(lambda x:(x >= 0),list1))
print(positive_num)

Search the postitive number [2, 6, -10, -3, 1, -9] in this list:
[2, 6, 1]

In [35]:
''' 15) Remove multiple elements from a list in Python
Input: [10, 3, 12, 15, 5, 8]

Output: [3, 12, 8]'''

# 1) Iterating

list1 = [10, 3, 12, 15, 5, 8]
for i in list(list1):
  if i % 5 == 0:
    list1.remove(i)
print(list1)

[3, 12, 8]

In [36]:
# 2) List Comprehension

li = []
n = int(input("Enter the size of list:"))
for i in range(0,n):
  ele = int(input("Enter the list element:"))
  li.append(ele)

li = [i for i in li if i % 5 != 0]
print(li)

Enter the size of list:6
Enter the list element:10
Enter the list element:3
Enter the list element:12
Enter the list element:15
Enter the list element:5
Enter the list element:8
[3, 12, 8]

In [37]:
'''16) Remove Multiple elements from list by index range using del'''

li = []
n = int(input("Enter the size of list:"))
for i in range(0,n):
  ele = int(input("Enter the list element:"))
  li.append(ele)

del li[1:4]
print(li)

Enter the size of list:6
Enter the list element:10
Enter the list element:3
Enter the list element:12
Enter the list element:15
Enter the list element:5
Enter the list element:8
[10, 5, 8]

In [41]:
''' 17) Python Program To Cloning or Copying a list
Input: Original list- [3, 6, 12, 14, 78, 24, 56]

Output: After cloning- [3, 6, 12, 14, 78, 24, 56]'''

# 1) By following the Slicing technique

li = []
n = int(input("Enter the size of list:"))
for i in range(0,n):
  ele = int(input("Enter the list element:"))
  li.append(ele)
print("Original List:",li)
li_copy = li[:]
print("After Cloning:",li_copy)

Enter the size of list:5
Enter the list element:3
Enter the list element:4
Enter the list element:3
Enter the list element:1
Enter the list element:2
Original List: [3, 4, 3, 1, 2]
After Cloning: [3, 4, 3, 1, 2]

In [42]:
# 2) By using extend() method

li = [3, 6, 12, 14, 78, 24, 56]
print("Original List:",li)
li1 =[]
li1.extend(li)
print("After Cloning:",li1)

Original List: [3, 6, 12, 14, 78, 24, 56]
After Cloning: [3, 6, 12, 14, 78, 24, 56]

In [44]:
# 3) list()

li = [3, 6, 12, 14, 78, 24, 56]
print("Original List:",li)
li1 =list(li)
print("After Cloning:",li1)

Original List: [3, 6, 12, 14, 78, 24, 56]
After Cloning: [3, 6, 12, 14, 78, 24, 56]

In [45]:
# 4) list comprehension


li = [3, 6, 12, 14, 78, 24, 56]
print("Original List:",li)
li1 = [i for i in li ]
print("After Cloning:",li1)

Original List: [3, 6, 12, 14, 78, 24, 56]
After Cloning: [3, 6, 12, 14, 78, 24, 56]

In [48]:
# 5) append()

li = [3, 6, 12, 14, 78, 24, 56]
print("Original List:",li)
li1 = []
for i in li:
  li1.append(i)
print("After Cloning:",li1)

Original List: [3, 6, 12, 14, 78, 24, 56]
After Cloning: [3, 6, 12, 14, 78, 24, 56]

In [51]:
# 6) copy()

li = [3, 6, 12, 14, 78, 24, 56]
print("Original List:",li)
li1 = li.copy()
print("After Cloning:",li1)

Original List: [3, 6, 12, 14, 78, 24, 56]
After Cloning: [3, 6, 12, 14, 78, 24, 56]

In [53]:
'''Python Program to Count occurrences of an element in a list
Input: list=[2, 4, 1, 7, 9, 10, 12, 17, 1] n=1

Output: 2 ( 1 occurs 2 times in the list)'''

# 1) loop and counter variable

def count_occurence(li,n):
  count = 0
  for i in li:
    if(i==n):
      count = count+1
  return count

li = []
n = int(input("Enter the size of list:"))
for i in range(0,n):
  ele = int(input("Enter the list element:"))
  li.append(ele)
print("Original list:",li)

x = int(input("enter ele which you want to search:"))

print(x,"has occured",count_occurence(li,x),"times")

Enter the size of list:6
Enter the list element:3
Enter the list element:2
Enter the list element:3
Enter the list element:1
Enter the list element:3
Enter the list element:2
Original list: [3, 2, 3, 1, 3, 2]
enter ele which you want to search:3
3 has occured 3 times

In [54]:
# 2) count()

li = []
n = int(input("Enter the size of list:"))
for i in range(0,n):
  ele = int(input("Enter the list element:"))
  li.append(ele)
print("Original list:",li)

x = int(input("enter ele which you want to search:"))

print(x,"has occured",li.count(x),"times")

Enter the size of list:5
Enter the list element:2
Enter the list element:3
Enter the list element:4
Enter the list element:3
Enter the list element:2
Original list: [2, 3, 4, 3, 2]
enter ele which you want to search:2
2 has occured 2 times